@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --primary-color: rgb(255, 255, 255);
  --accent-color: #D80032;
}

html {
  margin: 0;
  padding: 0;
  font-size: calc(100vw/1920 * 10);
  scroll-behavior: smooth;
}

body {
  font-family: 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 1rem;
}

@media screen and (max-width: 750px) {

  html,
  body {
    font-size: calc(100vw / 750 * 10);
  }
}